*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:1px solid black;
    font-family: 'Chango', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Fredoka One', cursive;
}

/* Inizio container e card */
.lorem{ 
    text-align: center;
    margin: 70px 0px 50px 0px;
    width: 100%;
    color: rgb(115, 108, 108);
    font-size: smaller;
}
.container{
    margin: auto;
    width: 75%;
}

.title{
    text-align: center;
    color: rgb(229, 49, 161);
    margin-top: 35px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{ 
    float: left;    
}

.right{
    float: right;
}


.card{
    height: 110px;
    width: 350px;
    background-color: black;
    color: rgb(130, 10, 10);
}

.name_surname, {
 display: inline-block;
}

img{
    height: 110px;
}
#personal_data *{
    margin: 10px 0px 10px 7px;
}
.box{
    width: calc(100% / 3);
    padding: 15px;
}
.card{
    box-shadow: 5px 10px 18px rgb(61, 46, 46);
    background-color: rgb(15, 14, 23);
}

.card img{
    margin-right: 20px;
    max-width: 100px;
}

.personal_data{
    padding: 15px 0px;
    height: 100px;
}

.card h3{
    text-transform: uppercase;
    font-weight: 600;
}

.card span{
    display: block;
}

.card a {
    font-size:smaller;
}

.card h3, .card span{
    margin-bottom: 5px;
   