*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
  
}
/* Inizio Header */
.title{
    text-align: center;
    color: rgb(200, 54, 144);
    margin-top: 35px;
}

.lorem{ 
    text-align: center;
    margin: 60px 0px 40px 0px;
    width: 100%;
    color: rgb(115, 108, 108);
    font-size:medium;
}

/* Inizio container e card */

.container{
    margin: auto;
    width: 75%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{ 
    float: left;    
}

.card{
    height: 100px;
    width: 340px;
    background-color: black;
    color: rgb(254, 254, 254);
    box-shadow: 5px 10px 18px 0px rgb(64, 51, 51,0.7);
}

img{
    height: 100px;
}

.card img{
    margin-right: 20px;
    max-width: 100px;
}

.box{
    width: calc(100% / 3);
    padding: 15px;
}

#personal_data *{
    margin: 10px 0px 10px 7px;
}

.personal_data{
    padding: 15px 0px;
    height: 100px;
}

.card h3{
    text-transform: uppercase;
    font-weight: 600;
}

.card span{
    display: block;
}

.card a {
    font-size:smaller;
}

.card h3, .card span{
    margin-bottom: 5px;
}